.card {
  border-radius: 2px;
  margin-bottom: 1.5rem;
  /* width: 250px; */
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  padding: 0;
  /* width: 220px; */
}

.card-img {
  height: 300px;
}

@media (max-width: 767.98px) {
  .card-img {
    height: 300px;
  }
  .col-3 {
    max-width: 0%;
  }
}

@media (max-width: 575.98px) {
  img {
    height: 100px;
  }
  .card {
    width: 150px;
    margin-left: 0;
  }
  .col-3 {
    max-width: 50%;
  }
}
